.MuiAvatar-root {
  &.user-avatar {
    width: 100px;
    height: 100px;
  }
}

.user-info-container {
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
